<h2>16 Day Forecast For <%= @city_name %></h2>

<%= link_to '<<< Back', root_path %>

<% @days.each_with_index do |day, index| %>
    <div class="card">
      <div class="card-header">
        <%= nice_date day.date %>
        <%= image_tag "http://openweathermap.org/img/w/#{day.icon}.png" %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Avg. Temp:  <%= day.avg_temp %> Deg Celcius</li>
        <li class="list-group-item">Outlook:  <%= day.weather %></li>
      </ul>
      <div class="card-body">
        <%= link_to 'More >>>', forecast_day_path(index + 1, city_name: @city_name) %>
      </div>
    </div>
<% end %>