<h2>Weather For <%= @city_name %> </h2>
<h3><%= nice_date @day.date %></h3>

<%= link_to '<<< Back', url_for(:back) %>

<div class="card">
  <div class="card-header">
    <%= nice_date @day.date %>
    <%= image_tag "http://openweathermap.org/img/w/#{@day.icon}.png" %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Wind Speed: <%= @day.wind_speed %></li>
    <li class="list-group-item">Morning Temp: <%= @day.morning_temp %> Deg Celcius</li>
    <li class="list-group-item">Evening Temp: <%= @day.evening_temp %> Deg Celcius</li>
    <li class="list-group-item">Night Temp: <%= @day.night_temp %> Deg Celcius</li>
    <li class="list-group-item">Avg. Temp:  <%= @day.avg_temp %> Deg Celcius</li>
    <li class="list-group-item">Outlook:  <%= @day.weather %></li>
    <li class="list-group-item">Humidity:  <%= @day.humidity %></li>
    <li class="list-group-item">Pressure:  <%= @day.pressure %></li>
  </ul>
</div>