<%= form_tag(forecast_days_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= label_tag :city_name, 'Please enter a city name to see the forecast:' %>
      <%= text_field_tag :city_name, nil, class: 'form-control mx-sm-3' %>
      <%= button_tag 'Go', type: :submit, value: nil, class: 'btn btn-outline-success mx-sm-3' %>
    </div>
<% end %>