// Place all the styles related to the forecast/days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_nav {
  margin-bottom: 20px;

  h1 a {
    color: black;
    text-decoration: none;
  }
}

.card {
  margin: 20px 0px;
  width: 500px;

  .card-header {
    font-weight: bold;
    font-size: 19px;
  }

  a, img {
    float: right;
  }
}