<!DOCTYPE html>
<html>
  <head>
    <title>Playon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav id='main_nav' class="navbar navbar-expand-lg navbar-light bg-light">
      <h1><%= link_to 'WeatherApp', root_path %></h1>
    </nav>

    <% flash.each do |key, value| %>
        <div class="alert alert-danger"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
